@tailwind base;
@tailwind components;
@tailwind utilities;

@import "theme";
@import "vue-select/src/scss/vue-select.scss";

html {
  background-color: #fafafa;
}

.vs__dropdown-toggle {
  padding: 0.3rem 0.2rem;
  border-color: #6b7280 !important;
  border-radius: 0.375rem;
}

// FIX BAD BAD BAD
.p-button-icon-only {
  .p-button-label {
    display: none;
  }
}

.p-hidden-accessible {
  input {
    display: none;
  }
}
