@tailwind base;
@tailwind components;
@tailwind utilities;

@import "theme";
@import "vue-select/src/scss/vue-select.scss";

html {
  background-color: #fafafa;
}

// FIX BAD BAD BAD
.p-button-icon-only {
  .p-button-label {
    display: none;
  }
}

.p-hidden-accessible {
  input {
    display: none;
  }
}
